<!DOCTYPE html>
<html>
  <head>
    <title>Test</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script src="http://localhost/nowjs/now.js"></script>
  </head>
  <body>
    <div id="top">
        Top menu
    </div>
    <div id="wrapper">
        <%- body %>
    </div>
  </body>
</html>