<div class="top">
	<ul class="top-menu">
		<li><a href="/">Home</a> -</li>
		<li><a href="/edit/<%=req.session.username%>">Profile</a> -</li>
		<li><a href="/search">Search</a></li>
	</ul>
</div>


<div class="top">
	<% 
	if (typeof(req.session.username) == 'undefined'){ 
	%>
    <form method="post" action="/login">
    	<input type="text" name="login[username]" value="nightwolfz">
    	<input type="text" name="login[password]" value="aaaaaa">
    	<button>Login</button>
    </form>
    <% }else{ %>
    	Logged in as <a href="/show/<%=req.session.username%>"><%=req.session.username%></a>
    	<span style="float:right"><a href="/logout">Logout</a></span>
    <% } %>
</div>
