<h1><%= title %></h1>

<div id="body">
    <p>Session <%= session.username %></p>
    
    
    <p>
        <ul>
           <li><label>Name :</label> <%=profile.lastName%></li>
           <li><label>Surname :</label> <%=profile.firstName%></li>
        </ul>
    </p>
</div>